/** Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2, h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    margin-bottom: 10px;
    line-height: 1.3em;
}

/** Cores dos Textos */

.text-red {
    color: #7f0303;
}

.text-blue {
    color: #283F41;
}

.text-green {
    color: #537c1f;
}

.text-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

/** Butoon */

.btn {
    border: none;
    border-radius: 3px;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 5px 10px;
}

.btn-red{
    background-color: #7f0303;
}

.btn-blue {
    background-color: #283F41;
}

.btn-green {
    background-color: #537c1f;
}

/** Layout */
.container {
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.row {
    margin-bottom: 100px;
}

.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid {
    width: 100%;
    display: grid;
}

.grid-col-3 {
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    gap: 1%;
}

.text-right {
    width: 100%;
    text-align: right;
}

/** Cabeçalho */
header {
    text-align: center;
    margin-top: 100px;
}

header img {
    height: 150px;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
}
/** Roda PÉ */
footer {
    color: #666;
    border-top: 1px solid #666;
}

footer p {
    text-align: center;
     padding: 30px 0;
}

/** CTA */
.cta article {
    min-width: 300px;
    width: 49%;
    margin-top: 20px;
}

/** Anuncios */
.notice .city {
    border-bottom: 1px solid #ddd;
}

.notice article {
    margin-bottom: 30px;
}

.notice article h4{
    font-weight: bold;
}

@media (max-width: 600px) {
    .cta article {
        width: 100%;
    }

    .grid-col-3 {
        grid: auto / auto
    }
}