<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seja Vonluntário</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/form.css">
        
    </head>
    <body>

        <main class="container">
            <header class="header row">
                <a href="/">
                    <img src="/assets/imagens/logo.png" 
                    alt="Logo do Seja Vonluntário"
                    >
                    <h1 class="text-red text-shadow">Seja Vonluntário</h1>
                </a>
            </header>   

            <section class="notice row">
                        <h2 class="text-red">{{vaga.titulo}}</h2>
                        <p class="city"><strong>{{vaga.cidade}}</strong></p>
                        <p>
                            {{vaga.descricao}}
                        </p>
                        <p>
                            <a class="btn btn-red" href="mailto:{{vaga.email}}">Enviar e-mail</a>
                        </p>
            </section>

            <footer class="footer">
                <p>
                    <strong>Seja Vonluntário</strong> - Feito com amor na cidade de São Paulo.
                </p>
            </footer>
        </main>

    </body>
</html>